<div id="clickAndCollect">
  <h2>Click & Collect</h2>
  	
    {% for item in cart.items %}
        {% if item.product.type == 'Click and Collect' %}  
            {% capture location_id %}{{ item.variant_id  }}{% endcapture %}    
        {% endif %}
    {% endfor %}
  	
    <input type="hidden" id="selectedClickAndCollectId" value="{{ location_id }}">
  
    <select id="clickAndCollectVariantId">
      <option value="none">None Selected</option>
    </select>

    <input type="submit" value="Set Collection Location" id="saveClickAndCollectLocation" class="btn">

</div>
